<ul class="nav navbar-nav col-md-2">
  <li>
    <%= image_tag(@user.avatar.url(:square), size: "52x52") %>
  </li>
  <li>
    <%= link_to "#{session[:name].titleize}", user_path(session[:id]) %>
  </li>
  <li>
    <%= link_to "Log out", session_path(session[:id]), method: "delete" %>
  </li>
</ul>
