<div class='systemContent'>
  <h4>
    About <%= @system.name %>:
  </h4>
  <p>
    <%= @system.description %>
  </p>
  <button class= 'editSystem' href=<%= edit_system_path(@system.id) %>>edit</button>

</div>