<div class='card'>
<div id='content'></div>
    <%= react_component('SystemBox', {data: @systems, url: '/systems.json'}) %>
    <% if session[:id] != nil %>
      <div class='m-btm'>
        <%= link_to 'Make a new system', new_system_path %>
      </div>
    <% end %>
</div>
