<div class='card'>
  <h1><%= @system.name %></h1>
  <p><%= @system.description %></p>
  <div>
  <h4>Skills List</h4>
    <ul>
      <% @system.skills.each do |skill| %>
        <%= react_component('Skill', {data: skill}) %>
      <% end %>
    </ul>
  </div>
</div>
