$bright: #E1E0E0;
$heading: #7128C1;
$dark: #8D8989;
$bodytext: #CCCBCB;

// body{
//   color: $bodytext
// }

@font-face {
  font-family: 'Roboto';
  url: font-url('RobotoCondensed-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  background: image_url("grey_wash_wall.png")
}
a {
  color: $bright;
  text-decoration: none;
  transition: color, text-shadow, .5s
}
a:hover{
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  color: white;
  transition: color, text-shadow, .5s
}

.top{
  background-color: $heading;
  margin: 0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}
.dark{
  background-color: $dark;
}
.error{
  color: red;
}
.notice{
  color: yellow;
}
.right{
  text-align: right;
}
.header{
  color: $bright;
  font-size: 2em;
  a {
    text-decoration: none;
    color: $bright;
  }
}
.no-m-btm{
  margin-bottom: 0;
}
.pad{
  padding: 1%;
}
.pad-top{
  padding-top: 1%;
}
.pad-left{
  padding-left: 1%
}
.pad-right{
  padding-right: 1%
}
.pad-btm{
  padding-bottom: 1%
}
.pad-btm-m{ 
  padding-bottom: 1em;
}
.m-btm{
  margin-bottom: 1%;
}
.new_user{
  display: inline;
}

.nav{
  background-color: #A19DA3;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}
.navlist{
  font-family: 'Roboto';
  list-style-type: none;
  display: inline;
  li {
    display: inline;
  }
}
