$bright: #E1E0E0;
$heading: #7128C1;
$dark: #000000;
$bodytext: #CCCBCB;
$alert: #B12515;

@font-face {
  font-family: 'Roboto';
  src: url('/assets/RobotoCondensed-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Aldritch';
  src: url('/assets/Aldrich-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
body{
  background: image_url('brushed.png');
  font-family: 'Roboto'
}
button{
  transition: color, box-shadow, .5s;
  border: none;
  border-radius: .5em;
}
button:hover {
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  background-color: white;
  transition: color, box-shadow, .5s
}
a {
  color: $bright;
  text-decoration: none;
  transition: color, text-shadow, .5s
}
#container{
  padding: 1%;
  background: image_url('brushed.png');
}
#container a{
  color: #09B23D
}
#container a:hover{
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  color: white;
  transition: color, text-shadow, .5s
}
a:hover{
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  color: white;
  transition: color, text-shadow, .5s
}
.delete{
  background-color: $alert;
  color: white;
  margin-left: 1em;
}
.delete:hover{
  box-shadow: 0px 0px 30px rgba(177, 37, 21, 1);
  color: black;
  transition: color, .5s
}
.dark{
  background-color: $dark;
}
.error{
  color: red;
}
.games-sidebar{
  margin-top: -0.5em;
  color: #4169E1;
}
.ic-back{
  margin: -0.5em 0 0 0.5em
}
.inline{
  display: inline;
}
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}
.header{
  color: $bright;
  font-size: 2em;
  a {
    text-decoration: none;
    color: $bright;
  }
}
.list-hz{
  @extend .navlist;
  padding: 0;
  border-bottom: 1px solid grey;
}
.nav *{
  // border: 1px solid red;
}
.nav{
  padding: 0 0 1em 1em;
  background-color: #302E31;
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.navItem{
  font-family: 'Aldritch', sans-serif;
}
.navlist{
  font-family: 'Roboto';
  list-style-type: none;
  display: inline;
  padding-left: 0;
  li{
    padding: 1em;
    margin-left: -1em;
  }
}
.navThumb{
  vertical-align: middle;
}
.no-margin{
  margin: 0;
}
.notice{
  color: yellow;
}
.m-btm{
  margin-bottom: 1%;
}
.m-btm-m{
  margin-bottom: 1em;
}
.no-m-btm{
  margin-bottom: 0;
}
.m-top{
  margin-top: 1%
}
.pad{
  padding: 1%;
}
.pad-top{
  padding-top: 1%;
}
.pad-left{
  padding-left: 1%
}
.pad-right{
  padding-right: 2%
}
.pad-btm{
  padding-bottom: 1%
}
.pad-btm-m{
  padding-bottom: 1em;
}
.profile-sidebar{
  padding: 8px 10px 8px 10px;
  color: orange;
  margin: -1em -0.5em;
}
.right{
  text-align: right;
}
.sideLink{
  // margin: 0 2em 0 1em;
}
.system-sidebar{
  color: #329032;
  margin: -0.5em 0 0 1em;
}
.top{
  background-color: $heading;
  margin: 0;
}
.hidden{
  display: none;
}
@media (max-width: 800px){
  .nav{
    left: -6em;
  }
}
