$system: #329032;
$bright: #E1E0E0;
$heading: #7128C1;
$dark: #000000;
$bodytext: #CCCBCB;
$alert: #B12515;
$user: #FFA119;

@font-face {
  font-family: 'Roboto';
  src: url('/assets/RobotoCondensed-Light.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family: 'Aldritch';
  src: url('/assets/Aldrich-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
body{
  background: image_url('brushed.png');
  font-family: 'Roboto'
}
button{
  transition: color, box-shadow, .5s;
  border: none;
}
button:hover {
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  background-color: white;
  transition: color, box-shadow, .5s
}
a {
  color: $bright;
  text-decoration: none;
  transition: color, text-shadow, .5s
}
header{
  font-size: 2em;
}
.select{
  border: 0;
  outline: 1px solid #CCC;
  background-color: white;
}
#container{
  padding: 1%;
  margin-left: 10em;
  background: image_url('brushed.png');
}
#container a{
  color: #09B23D
}
#container a:hover{
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  color: white;
  transition: color, text-shadow, .5s
}
#desc{
  height: 6em;
}
#password-icon{
  margin-right: 1px;
}
#register span{
  background-color: $user;
}
#register .icon{
  margin: -3px -2px 0 0;
}
#register .fa-stack{
  line-height: 2.3em;
}
#user_password_again{
  margin: 0;
}
a:hover{
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  color: white;
  transition: color, text-shadow, .5s
}
.center{
  text-align: center;
}
.close-form{
  margin-left: 60%
}
.delete{
  background-color: $alert;
  color: white;
  margin-left: 1em;
}
.delete:hover{
  box-shadow: 0px 0px 30px rgba(177, 37, 21, 1);
  color: black;
  transition: color, .5s
}
.dark{
  background-color: $dark;
}
.error{
  color: red;
}
.fl-left{
  float: left;
}
.fl-right{
  float: right;
}

.form{
  background-color: #FFFFFF;
  margin: 0 auto;
  min-width: 20%;
  max-width: 66%;
  .form-field{
    max-width: 80%;
  }
}
.form-header{
  span{
    color: black;
  }
}
#register{
  width: 12.5em;
}
#register .form-header{
  background-color: #FFA119;
}
.form-field{
  width: 100%;
  background-color: #F9F6F6;
  border: none;
  margin: 0 0 10px -1px;
  height: 30px;
  padding-bottom: 0.5px;
  outline: 1px solid #CCC;
}
.games-sidebar{
  color: #4169E1;
}
.ic-back{
  margin: -0.5em 0 0 0.5em
}
.inline{
  display: inline;
}

.header{
  color: $bright;
  font-size: 2em;
  a {
    text-decoration: none;
    color: $bright;
  }
}
.list-hz{
  list-style-type: none;
  padding: 0;
  border-bottom: 1px solid grey;
  li{
    display: inline;
    margin-right: 1em;
  }
}
.m-btm{
  margin-bottom: 1%;
}
.m-btm-m{
  margin-bottom: 1em;
}
.no-m-btm{
  margin-bottom: 0;
}
.m-top{
  margin-top: 1%
}
.nav{
  padding-left: 2em;
  background-color: #302E31;
  display: inline-block;
  height: 100%;
  position: absolute;
  left: 0;
  -webkit-transition: left 0.5s;
  transition: left 0.5s;
}
.navItem{
  font-family: 'Aldritch', sans-serif;
  text-decoration: none;
}
.navItem a:active{
  color: $bright;
  text-decoration: underline;
}
.navlist{
  font-family: 'Roboto';
  list-style-type: none;
  display: inline;
  padding-left: 0;
  li{
    padding: 1em 0 1em 0;
    margin-left: -1em;
    i{
      text-align: center;
      margin-top: -0.77em;
    }
  }
}
.navThumb{
  vertical-align: middle;
}
.no-bullet{
  list-style-type: none;
}
.no-margin{
  margin: 0;
}
.notice{
  color: yellow;
}
.npc-header{
  background-color: $system;
}
.pad{
  padding: 1%;
}
.pad-top{
  padding-top: 1%;
}
.pad-left{
  padding-left: 1%
}
.pad-right{
  padding-right: 2%
}
.pad-btm{
  padding-bottom: 1%
}
.pad-btm-m{
  padding-bottom: 1em;
}
.profile-sidebar{
  color: orange;
}
.right{
  text-align: right;
}
.skillForm{
  display: inline-block;
  text-align: center;
  width: 24em;
  textarea{
    width: 300px;
    height: 80px;
  }
}
.skillForm .form-header{
  background-color: $system;
  margin: 0;
}
.square{
  height: 24px;
  width: 24px;
}
.submit{
  background-color: #14CC4D;
  border: none;
  margin: 1em;
}
.system-sidebar{
  color: $system;
}
.system-form .form-header{
  background-color: $system;
}
.top{
  background-color: $heading;
  margin: 0;
}
.user{
  color: $user;
}
.hidden{
  display: none;
}
@media (max-width: 875px){
  #container{
    margin-right: -2em;
  }
}
@media (max-width: 850px){
  .nav{
    left: -6em;
  }
  #container{
    padding-left: 2em;
  }
  .close-form{
    margin-left: 58%;
  }
}
@media (max-width: 1024px){
  .fl-right-dash{
    float: right;
  }
}

