$bright: #E1E0E0;
$heading: #7128C1;

.top{
  background-color: $heading;
  margin: 0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}

.error{
  color: red;
}
.notice{
  color: yellow;
}
.right{
  text-align: right;
}
.header{
  color: $bright;
  font-size: 2em;
  a {
    text-decoration: none;
    color: $bright;
  }
}
.pad-top{
  padding-top: .3em;
}
.pad-left{
  padding-left: 1%
}
.pad-right{
  padding-right: 1%
}
.new_user{
  display: inline;
}
.form{
}
// .nav{
//   background-color: #A19DA3;
// }
.navlist{
  font-family: 'Verdana';
  list-style-type: none;
  display: inline;
  li {
    display: inline;
  }
}
