$bright: #E1E0E0;
$heading: #7128C1;
$dark: #8D8989;
$bodytext: #CCCBCB;
$alert: #B12515;

@font-face {
  font-family: 'Roboto';
  url: font-url('RobotoCondensed-Light.ttf');
  font-weight: normal;
  font-style: normal;
}

body{
  background: image_url("wood_pattern.png")
}
a {
  color: $bright;
  text-decoration: none;
  transition: color, text-shadow, .5s
}
a:hover{
  text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  color: white;
  transition: color, text-shadow, .5s
}
.top{
  background-color: $heading;
  margin: 0;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}
.dark{
  background-color: $dark;
}
.error{
  color: red;
}
.notice{
  color: yellow;
}
.right{
  text-align: right;
}
.header{
  color: $bright;
  font-size: 2em;
  a {
    text-decoration: none;
    color: $bright;
  }
}
.navThumb{
  vertical-align: middle;
}
.no-m-btm{
  margin-bottom: 0;
}
.pad{
  padding: 1%;
}
.pad-top{
  padding-top: 1%;
}
.pad-left{
  padding-left: 1%
}
.pad-right{
  padding-right: 1%
}
.pad-btm{
  padding-bottom: 1%
}
.pad-btm-m{
  padding-bottom: 1em;
}
.m-btm{
  margin-bottom: 1%;
}


.nav{
  background-color: #A19DA3;
  -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}
.navlist{
  font-family: 'Roboto';
  list-style-type: none;
  display: inline;
  li {
    display: inline;
  }
}

.card{
  padding: 1%;
  background: image_url('brushed.png');
    -webkit-box-shadow: 0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 2px 4px 0px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 2px 4px 0px rgba(50, 50, 50, 0.75);
}
.card a{
  color: #09B23D
}
.card a:hover{
  text-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  color: white;
  transition: color, text-shadow, .5s
}

.hidden{
  display: none;
}
button{
  transition: color, box-shadow, .5s;
  border: none;
  border-radius: .5em;
}
.delete{
  background-color: $alert;
  color: white;
  margin-left: 1em;
}
button:hover {
  box-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  background-color: white;
  transition: color, box-shadow, .5s
}
.delete:hover{
  box-shadow: 0px 0px 30px rgba(177, 37, 21, 1);
  color: black;
  transition: color, .5s
}
