.systemContent a {
  color: #705187;
  transition: color, text-shadow, .5s
}
.systemContent a:hover{
    text-shadow: 0px 0px 30px rgba(255, 255, 255, 1);
  color: white;
  transition: color, text-shadow, .5s
}